body {
  text-align: center;
  background-color: #F7F8F9;
}

li {
  list-style-type: none;
  width: 80%;
  margin: 10px auto;
}
.checkDiv {
  color: rgb(158, 158, 158);
}

.green {
  color: green;
}

#addBtn {
  
}

#formDiv {
  display: none;
}