body {
  text-align: center;
  background-color: #F7F8F9;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 20px 0;
}

h6 {
  color: darkgray;
}

li {
  list-style-type: none;
  width: 80%;
  margin: 10px auto;
  
}

.card {
  padding: 10px 20px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  max-height: 76px;
  overflow: auto;
}


.checkDiv {
  color: rgb(158, 158, 158);
  font-size: 36px;
}

.nameDiv {
  align-self: center;
  font-size: 20px;
  grid-column: 2/10;
  justify-self: start;
}

.dateDiv {
  align-self: center;
  grid-column: 11 / 12;
  width: max-content;
  justify-self: end;
  color: grey;
}

.fa-times {
  align-self: center;
  grid-column: 12;
}

.far {
  display: inline-block;
}

#mainDiv {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
}

#addBtnDiv {
  
  grid-column: 3;
  
}

#addTaskDiv {
  grid-column: 2 / 6;
}

#addBtn {
  margin: 10px 0;
}

#formDiv {
  display: none;
  grid-column: 3 / 6;
  grid-row: 2;
}

#todoDiv {
  grid-row: 2;
  grid-column: 2 / 12;
}